name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: pnpm check
      - run: pnpm build
      - run: pnpm test
