name: Release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write # to create releases
  id-token: write # for trusted publishing

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: pnpm test
      - run: pnpm publish --access public --no-git-checks
      - uses: softprops/action-gh-release@v2
