name: Release

on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: pnpm test
      - run: pnpm publish --access public
